<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">



    <link rel="stylesheet" href="css/style.css"/>
    <title>Code Bakers</title>
  </head>
  <body>

    <!-- <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-trans" id="meuheader">
        <div class="mx-auto d-sm-flex d-block flex-sm-nowrap testsss">
          <a class="navbar-brand" id="navbrand" href="#top" data-aos="fade-right" data-aos-duration="800"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mx-auto"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg><p class="brand-test">Code <span style="color:#28a745">Bakers</span></p></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mx-auto"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
            </button>
            <div class="collapse navbar-collapse text-center" id="navbarsExample11">
                <ul class="navbar-nav">
                    <li class="nav-item hover-test px-4" data-aos="fade-down" data-aos-duration="1100">
                        <a class="nav-link hero" href="#empresa">A Empresa</a>
                    </li>
                    <li class="nav-item hover-test px-4" data-aos="fade-down" data-aos-duration="1100">
                        <a class="nav-link" href="#plataformas">Plataformas</a>
                    </li>
                    <li class="nav-item hover-test px-4" data-aos="fade-down" data-aos-duration="1100">
                        <a class="nav-link" href="#projetos">Projetos</a>
                    </li>
                    <li class="nav-item hover-test px-4" data-aos="fade-down" data-aos-duration="1100">
                        <a class="nav-link" href="#contratar">Contratar</a>
                    </li>
                    <li class="nav-item hover-test px-4" data-aos="fade-down" data-aos-duration="1100">
                        <a class="nav-link" href="#app">Contato</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav> -->


    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-trans2 p-0" id="meuheader">
      <div class="container">


        <a class="navbar-brand" id="navbrand" href="#top" data-aos="fade-right" data-aos-duration="800"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mx-auto"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg><p class="brand-test">Code <span style="color:#28a745">Bakers</span></p></a>
        <button class="navbar-toggler ml-4 my-2" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample03">
          <ul class="navbar-nav ml-auto" style="font-size: 20px;">
            <li class="nav-item hover-test mx-2" data-aos="fade-down" data-aos-duration="1100">
                <a class="nav-link hero" href="#empresa">Empresa</a>
            </li>
            <li class="nav-item hover-test mx-2 " data-aos="fade-down" data-aos-duration="1100">
                <a class="nav-link" href="#plataformas">Plataformas</a>
            </li>
            <li class="nav-item hover-test mx-2" data-aos="fade-down" data-aos-duration="1100">
                <a class="nav-link" href="#projetos">Projetos</a>
            </li>
            <li class="nav-item hover-test mx-2" data-aos="fade-down" data-aos-duration="1100">
                <a class="nav-link" href="#contratar">Contratar</a>
            </li>
            <li class="nav-item hover-test mx-2" data-aos="fade-down" data-aos-duration="1100">
                <a class="nav-link" href="#app">Contato</a>
            </li>

          </ul>

        </div>
      </div>
    </nav>
        <div class="container-fluid px-0 bg-light" id="top">
          <div class="container-fluid p-0 pt-5 bannernovo">
            <div class="row mr-0"  style="margin-top: 230px">

              <div class="col-lg-6 pt-2 bg-trans2 offset-lg-3" style="margin-bottom: 230px">
                <div class="py-5">
                  <h1 data-aos="fade-right" data-aos-duration="1800" class="text-center" style="font-size: 60px"><span>Code</span> <span style="color:#28a745">Bakers</span></h1>
                  <h4 class="text-center pt-3" data-aos="fade-up" data-aos-duration="2000">Construindo o agora, Criando o <span style="color:#28a745">FUTURO</span></h4>
                </div>
              </div>


            </div>

          </div>


            <div class="container mt-5 text-center">
                <h1 id="empresa"class="pb-2" data-aos="fade-down" data-aos-duration="1200"><span class="border-bottom">Code <span style="color:#28a745">Bakers<span></span></h1>
                <h6 class="lead mb-3" data-aos="zoom-in" data-aos-duration="1000">O foco da nossa empresa é desenvolver soluções inovadoras para transformar digitalmente a realidade dos nossos clientes. A Code Bakers é líder no desenvolvimento de soluções de negócio para empresas de todos os portes e segmentos. </h6>
                <div class="row py-3" data-aos="zoom-in" data-aos-duration="1500">
                    <div class="col-md-6 mb-3">
                      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img class="d-block w-100" src="images/computer2.jpg" alt="First slide">
                          </div>
                          <div class="carousel-item">
                            <img class="d-block w-100" src="images/slide2.jpeg" alt="Second slide">
                          </div>
                          <div class="carousel-item">
                            <img class="d-block w-100" src="images/slide3.jpeg" alt="Third slide">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 p-0" >
                      <div class="col-md-12 mb-3 overimg">

                          <img src="images/computer.jpeg" alt="" class="img-fluid">
                          <div class="carousel-caption vertical-center overtext"style="border: 1px solid #fff">
                            <h1 class="">Aplicações Desktop</h1>
                          </div>

                      </div>
                      <div class="col-md-12 mb-3  overimg">
                        <img src="images/pexels-photo-450035.jpeg" alt="" class="img-fluid">
                        <div class="carousel-caption vertical-center overtext" style="border: 1px solid #fff">
                          <h1 class="">Sites Responsivos</h1>
                        </div>
                      </div>

                    </div>
                </div>
            </div>

            <!-- Segundo Cont -->

            <div class="container bg-light pb-5 mt-5 ">
              <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <h1 id="plataformas" data-aos="fade-down" data-aos-duration="1300"><span class="border-bottom">Diversas <span style="color:#28a745">Plataformas</span></span></h1>
                    <p class="mt-3 lead" data-aos="zoom-in" data-aos-duration="1500">A Code Bakers também soluciona os problemas da sua empresa em diversas plataformas, desde sites responsivos, que se adequam em telas de diferentes tamanhos e aplicativos para o seu celular ou qualquer outro dispositivo, é responsabilidade da Code Bakers deixar o seu cliente confortável para poder utilizar o seu produto em qualquer plataforma. </p>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-6" data-aos="zoom-in" data-aos-duration="1500">
                  <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6 my-2">
                      <img src="images/f1.jpg" class="img-fluid" alt="">
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-6 my-2">
                      <img src="images/f2.jpeg" class="img-fluid" alt="">
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-6 my-2">
                      <img src="images/f3.jpeg" class="img-fluid" alt="">
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-6 my-2">
                      <img src="images/f4.jpeg" class="img-fluid" alt="">
                    </div>

                  </div>
                </div>

              </div>
            </div>

            <!-- Terceiro Cont -->
            <div class="container-fluid pt-5 pb-3 p-0 test ">
              <div class="container mb-5 preto p-5">
                <h1 id="projetos" data-aos="fade-down" data-aos-duration="1300" class="text-light text-center mb-4">Nossos <span style="color:#28a745">Projetos</span></h1>
              <div class="row text-light">
                <div class="col-md-6 col-sm-12 col-lg-3 text-center">
                  <img src="images/m1.jpg"class="img-fluid rounded" alt="" data-aos="zoom-in" data-aos-duration="1500">
                  <h3 class="mt-3" data-aos="zoom-in" data-aos-duration="1300">GetCook</h3>
                  <a href="#" class="btn btn-outline-success bt-test my-3" data-toggle="modal" data-target="#exampleModal" data-aos="zoom-in" data-aos-duration="1300">Ver Mais</a>

                  <!-- Modal -->
                  <div class="modal fade text-dark" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" id="exampleModalLabel">GetCook</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6 p-1">
                              <img src="images/m1p1.jpeg" class="img-fluid"alt="">
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6 p-1">
                              <img src="images/m1p2.jpeg" class="img-fluid"alt="">
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 p-1">
                                <img src="images/modal1.jpeg" class="img-fluid"alt="">
                            </div>

                            <div class="col-lg-12 mt-3">
                              <h5 class="text-center">GetCook</h5>
                              <p class="lead text-justify">A Code Bakers fez o site da incrível start up Get Cook, é uma empresa que liga os restaurantes e o Chefs particulares com o os consumidores.</p>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6 col-sm-12 col-lg-3 text-center">
                  <img src="images/m2.jpg"class="img-fluid rounded" alt="" data-aos="zoom-in" data-aos-duration="1500">
                      <h3 class="mt-3" data-aos="zoom-in" data-aos-duration="1300">IDrone</h3>
                      <a href="#" class="btn btn-outline-success bt-test my-3" data-toggle="modal" data-target="#exampleModal2" data-aos="zoom-in" data-aos-duration="1300">Ver Mais</a>

                      <!-- Modal -->
                      <div class="modal fade text-dark" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">IDrone</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <div class="row">
                                <div class="col-lg-12 p-0">
                                  <img src="images/modal2.jpeg" class="img-fluid"alt="">
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6 p-1">
                                  <img src="images/modal2m1.jpeg" class="img-fluid"alt="">
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6 p-1">
                                  <img src="images/modal2m2.jpeg" class="img-fluid"alt="">
                                </div>
                                <div class="col-lg-12 mt-3">
                                  <h5 class="text-center">IDrone</h5>
                                  <p class="lead text-justify">A Code Bakers está trabalhando em um projeto que irá revolucionar o meio de entrega de produtos, em vez de usar caminhões para realizar serviços de entrega, por que não usar drones?</p>

                                </div>

                              </div>
                            </div>

                          </div>
                        </div>
                      </div>

                </div>

                <div class="col-md-6 col-sm-12 col-lg-3 text-center">
                  <img src="images/m3.jpeg"class="img-fluid rounded" alt="" data-aos="zoom-in" data-aos-duration="1500">
                    <h3 class="mt-3" data-aos="zoom-in" data-aos-duration="1300">S.O.Security</h3>
                    <a href="#" class="btn btn-outline-success bt-test my-3" data-aos="zoom-in" data-aos-duration="1300" data-toggle="modal" data-target="#exampleModal3">Ver Mais</a>

                    <!-- Modal -->
                    <div class="modal fade text-dark" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">S.O.Security</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <div class="row">
                              <div class="col-sm-12 col-md-6 col-lg-6 p-1">
                                <img src="images/modal3m1.jpeg" class="img-fluid"alt="">
                              </div>
                              <div class="col-sm-12 col-md-6 col-lg-6 p-1">
                                <img src="images/modal3m2.jpeg" class="img-fluid"alt="">
                              </div>
                              <div class="col-lg-12 p-0">
                                <img src="images/modal3.jpeg" class="img-fluid"alt="">
                              </div>
                              <div class="col-lg-12 mt-3">
                                <h5 class="text-center">S.O.Security</h5>
                                <p class="lead text-justify">A Code Bakers está fazendo um site e um aplicativo para a S.O.Security, um empresa com o propósito de oferecer a melhor e a mais confiavél defesa cibernética.</p>
                              </div>

                            </div>
                          </div>

                        </div>
                      </div>
                    </div>

                </div>

                <div class="col-md-6 col-sm-12 col-lg-3 text-center" >
                  <img src="images/m4.jpeg"class="img-fluid rounded" alt="" data-aos="zoom-in" data-aos-duration="1300">
                  <h3 class="mt-3" data-aos="zoom-in" data-aos-duration="1300">CityTech</h3>
                  <a href="#" data-aos="zoom-in" data-aos-duration="1300" class="btn btn-outline-success bt-test my-3" data-toggle="modal" data-target="#exampleModal4">Ver Mais</a>

                  <!-- Modal -->
                  <div class="modal fade text-dark" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">CityTech</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div class="row">
                            <div class="col-lg-12 p-0">
                              <img src="images/modal4.jpeg" class="img-fluid"alt="">

                            </div>
                            <div class="col-lg-12 p-0">
                              <img src="images/modal4m1.jpeg" class="img-fluid"alt="">

                            </div>
                            <div class="col-lg-12">
                              <h5 class="text-center mt-3">CityTech</h5>
                              <p class="lead text-justify">A Code Bakers junto com a CityTech, está criando um novo conceito de cidade, totalmente tecnológica. Todas aquelas casas e ruas super futurísticas, que só eram vistas em filmes, tudo isso se tornará realidade.</p>
                            </div>

                          </div>
                        </div>

                      </div>
                    </div>
                  </div>

                </div>

              </div>
            </div>

            <!-- Terceiro cont -->

            </div>

            <div class="container my-3 py-5" >
              <h1 id="contratar"class="text-center mb-5" data-aos="fade-down" data-aos-duration="1300"><span class="border-bottom">Por que <span style="color:#28a745">Contratar<span></span></h1>
              <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-1 text-center icone1 p-2">
                  <img src="images/icons/casa.png" class="img-fluid"alt="" data-aos="zoom-in" data-aos-duration="1000">
                  <p data-aos="fade-up" data-aos-duration="1300" class="lead mt-3"><span style="color:#28a745">Praticidade</span> consiga o seu produto sem sair de casa</p>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-1 text-center icone1 p-2">
                  <img src="images/icons/certificados.png" class="img-fluid"alt="" data-aos="zoom-in" data-aos-duration="1100">
                  <p data-aos="fade-up" data-aos-duration="1300" class="lead mt-3"><span style="color:#28a745">Qualidade:</span> a Code Bakers tem vários selos de eficiência</p>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-1 text-center icone1 p-2">
                  <img src="images/icons/email.png" class="img-fluid"alt="" data-aos="zoom-in" data-aos-duration="1200">
                  <p data-aos="fade-up" data-aos-duration="1300" class="lead mt-3"><span style="color:#28a745">Flexibilidade</span> entre em contato conosco a qualquer hora</p>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-1 text-center icone1 p-2">
                  <img src="images/icons/like.png" class="img-fluid"alt=""data-aos="zoom-in" data-aos-duration="1300">
                  <p data-aos="fade-up" data-aos-duration="1300" class="lead mt-3"><span style="color:#28a745">Aprovação:</span> todo mundo que contrata aprova e recomenda</p>
                </div>



              </div>

          </div>

          <div class="container-fluid p-0 img-fix">
            <div class="container-fluid my-5  py-5 bg-trans p-0">

              <h1 style="font-size: 70px" class="text-center">Code <span style="color:#28a745">Bakers</span></h1>
            </div>


          </div>

          <div>

          <h1 class="text-center mb-5" data-aos="fade-up" data-aos-duration="1300"><span class="border-bottom">Opniões de <span style="color:#28a745">Usuários</span></span></h1>
          <div id="app">
          <div class="container my-3 py-3 pre-scrollable">

            <div class="accordion" id="accordionExample">
              <div class="card mb-4" v-for="(opniao, key) in opnioes">
                <div class="card-header" id="headingOne">
                  <div class="row justify-content-between">
                      <div class="col-9 mt-3">

                        <h4><img src="images/icons/pess.png" alt=""> {{ opniao.nome }}</h4>
                      </div>
                      <div class="col-3 p-0 text-right">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" :data-target="'#' + key" aria-expanded="false" aria-controls="collapseTwo">
                          <img src="images/icons/seta.png" alt="">
                        </button>
                      </div>
                    </div>

                </div>

                <div :id="key" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                    {{ opniao.texto }}
                  </div>
                </div>
              </div>
            </div>

        </div>
        <!-- Fim e começo form -->
        <div class="container-fluid di-form" >
          <div class="row p-5 pret text-light">
            <div class="col-lg-5">

              <form>
                <div class="form-group">
                  <label for="exampleFormControlInput1" class="lead">Email:</label>
                  <input type="email" class="form-control form-control-lg" v-model="email" id="exampleFormControlInput1" placeholder="nome@exemplo.com">
                </div>
                <div class="form-group">
                  <label for="exampleFormControlInput2" class="lead">Nome:</label>
                  <input type="text" class="form-control form-control-lg" v-model="nome" id="exampleFormControlInput2" placeholder="Ex. Fulano">
                </div>
                <div class="form-group">
                  <label for="exampleFormControlInput3" class="lead">Telefone:</label>
                  <input type="text" class="form-control form-control-lg phone" data-mask="0000-0000" id="exampleFormControlInput3" placeholder="Ex. 9999-9999">
                </div>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1" class="lead">Crítica para a empresa:</label>
                  <textarea class="form-control form-control-lg" v-model="texto" id="exampleFormControlTextarea1" rows="3" placeholder="Ex. Essa é a melhor empresa do Mundo"></textarea>
                </div>
              </form>
              <div class="form-group text-center">
                <button class="btn btn-lg btn-outline-success bt-test my-3" v-on:click="enviar()" style="color:#000">Enviar</button>

              </div>
            </div>
            <div class="col-lg-6 offset-lg-1 mt-2">
              <h4 class="lead">Av. Lins de Vasconcelos:</h4>
              <a href="https://www.google.com.br/maps/place/FIAP+School/@-23.5745404,-46.6256956,17z/data=!3m1!4b1!4m5!3m4!1s0x94ce597ac49d5261:0xc65322c0674e4dba!8m2!3d-23.5745404!4d-46.6235069" target="_blank"><img src="images/mapa.PNG" class="img-fluid"alt=""></a> 

            </div>

          </div>
        </div>
        </div>
        <div class="container-fluid" style="background:#333">
          <div class="row p-5">
            <div class="col-sm-12 col-md-3 col-lg-3 text-center" style="color: #fff">
              <p class="lead">Pratrocinadores:</p>
              <p class="lead">FIAP.</br>Facebook.</br>GitHub Inc.</p>
            </div>
            <div class="col-sm-12 text-center col-md-6 col-lg-6 text-center"style="color:#fff">
              <h1>Code <span style="color:#28a745">Bakers</span></h1>
              <h5 class="mt-3">Construindo o Agora, Criando o <span style="color:#28a745">Futuro</span></h5>
            </div>
            <div class="col-sm-12 text-center col-md-3 col-lg-3">
                <i class="texto-branco redes-sociais mt-3 fab fa-facebook" style="font-size: 30px;" ></i><
                <i class="texto-branco redes-sociais mt-3 fab fa-instagram" style="font-size: 30px;" ></i><
                <i class="texto-branco redes-sociais mt-3 fab fa-twitter" style="font-size: 30px;" ></i><



            </div>

          </div>

        </div>
        </div>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->


    <script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.mask.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.3/firebase.js"></script>

    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyDpy2R-Pv85VZiM9Y9KbPtuNyBrzjGij1A",
        authDomain: "feiratecnica-eb8de.firebaseapp.com",
        databaseURL: "https://feiratecnica-eb8de.firebaseio.com",
        projectId: "feiratecnica-eb8de",
        storageBucket: "feiratecnica-eb8de.appspot.com",
        messagingSenderId: "387254248979"
      };
      firebase.initializeApp(config);
    </script>
    <script type="text/javascript">
    var app = new Vue({
      el: '#app',
      data: {
        nome: "",
        texto: "",
        email: "",
        opnioes: []
      },
      methods:{
        enviar: function(){
          if (this.email != "" && this.nome != "" && this.texto != "") {
            firebase.database().ref('opnioes').push({email:this.email, nome: this.nome, texto: this.texto})
            .then((data) =>{console.log(data)})
            .catch((error) => {console.log(error)})
            this.email="";
            this.nome = "";
            this.texto = "";
          }else {
            alert("Digite os campos corretamente");
          }
        }
      },
      created(){
        firebase.database().ref('opnioes').on('value', (snapshot)=>{
          this.opnioes = snapshot.val();
        });
      },
    })
    </script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
